 <a href="index.html" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary"><img src="/user/img/One.png" alt=""></h3>
                </a>
                <div class="d-flex align-items-center ms-4 mb-4" th:if="${session.currentUser != null}">
                    <div class="position-relative">
                        <img class="rounded-circle" th:src="@{|/static/avatar/${session.currentUser.imgUrl}|}" alt="" style="width: 40px; height: 40px;">
                       
                    </div>
                    <div class="ms-3 text-info" >
                        <h6 class="mb-0 font-weight-bold" th:text="${session.currentUser.username}"></h6>
                      
                    </div>
                </div>
                <div class="navbar-nav">
                    <div class="navbar-nav">
                        <a th:href="@{/admin}" class="nav-item nav-link justify-content-between"><i class="bi bi-file-bar-graph  mr-2"></i> Thống kê</a>


                        <a th:href="@{/admin/oneshop/account}" class="nav-item nav-link mr-5"><i class="bi bi-person-badge mr-3"></i>Tài khoản</a>
                        <a th:href="@{/admin/oneshop/order}" class="nav-item nav-link "><i class="fa fa-keyboard me-2 mr-3"></i> Đơn hàng</a>
                        <a th:href="@{/admin/oneshop/product}" class="nav-item nav-link"><i class="fa fa-table me-2 mr-3"></i> Sản phẩm</a>

                        <a th:href="@{/admin/oneshop/categories}" class="nav-item nav-link "><i class="bi bi-list mr-3"></i>Danh mục</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="far fa-file-alt me-2 mr-3"></i> Các trang khác</a>
                            <div class="dropdown-menu bg-transparent border-0">
                                <a  th:href="@{/admin}" class="dropdown-item text-primary"> <i class="fa fa-user-circle"></i> Doanh thu theo tháng</a>
                                <a href="DangNhap.html" class="dropdown-item text-primary"><i
								class="fa fa-arrow-circle-left"></i> Doanh thu theo ngày</a>

                            </div>
                        </div>
                    </div>
                </div>