USE [master]
GO
/****** Object:  Database [oneshop]    Script Date: 12/14/2022 9:37:59 PM ******/
CREATE DATABASE [oneshop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'oneshop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.UYENIT\MSSQL\DATA\oneshop.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'oneshop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.UYENIT\MSSQL\DATA\oneshop_log.ldf' , SIZE = 1088KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [oneshop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [oneshop]
GO
/****** Object:  Table [dbo].[authorities]    Script Date: 12/14/2022 9:37:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[authorities](
	[id] [tinyint] IDENTITY(1,1) NOT NULL,
	[username] [varchar](20) NULL,
	[roleId] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[categories]    Script Date: 12/14/2022 9:37:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[id] [tinyint] IDENTITY(1,1) NOT NULL,
	[description] [nvarchar](50) NULL,
	[isDeleted] [bit] NOT NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 12/14/2022 9:37:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Feedback](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[content] [nvarchar](255) NOT NULL,
	[productId] [bigint] NULL,
	[username] [varchar](20) NULL,
	[createdDate] [datetime] NOT NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[order_details]    Script Date: 12/14/2022 9:37:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_details](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[orderId] [bigint] NULL,
	[productId] [bigint] NULL,
	[price] [decimal](12, 3) NOT NULL,
	[quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[orders]    Script Date: 12/14/2022 9:37:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[orders](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[username] [varchar](20) NULL,
	[address] [nvarchar](255) NOT NULL,
	[phone] [varchar](11) NOT NULL,
	[createdDate] [datetime] NOT NULL DEFAULT (getdate()),
	[status] [nvarchar](55) NOT NULL,
	[payId] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[payment]    Script Date: 12/14/2022 9:37:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[payment](
	[id] [tinyint] IDENTITY(1,1) NOT NULL,
	[paypalOrderId] [varchar](32) NOT NULL,
	[paypalOrderStatus] [varchar](32) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[products]    Script Date: 12/14/2022 9:37:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[products](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[categoryId] [tinyint] NULL,
	[quantity] [int] NOT NULL,
	[price] [decimal](15, 3) NOT NULL,
	[discount] [decimal](12, 3) NOT NULL,
	[imgUrl] [varchar](255) NULL,
	[description] [nvarchar](1000) NOT NULL,
	[screenTechnology] [nvarchar](255) NOT NULL,
	[resolution] [nvarchar](255) NOT NULL,
	[widescreen] [nvarchar](255) NOT NULL,
	[maximumBrightness] [nvarchar](255) NULL,
	[touchGlass] [nvarchar](255) NOT NULL,
	[rearCameraResolution] [nvarchar](255) NOT NULL,
	[film] [nvarchar](255) NOT NULL,
	[flashLight] [nvarchar](255) NOT NULL,
	[feature] [nvarchar](1000) NOT NULL,
	[frontCameraResolution] [nvarchar](255) NOT NULL,
	[operatingSystem] [nvarchar](255) NOT NULL,
	[processorChip] [nvarchar](255) NOT NULL,
	[cpuSpeed] [nvarchar](255) NOT NULL,
	[graphicsChip] [nvarchar](255) NOT NULL,
	[ram] [varchar](255) NOT NULL,
	[storageCapacity] [varchar](255) NOT NULL,
	[remainingCapacity] [nvarchar](255) NULL,
	[memoryStick] [nvarchar](255) NOT NULL,
	[phonebook] [nvarchar](255) NOT NULL,
	[mobileNetwork] [nvarchar](255) NOT NULL,
	[sim] [nvarchar](255) NOT NULL,
	[wifi] [nvarchar](255) NOT NULL,
	[gps] [nvarchar](255) NOT NULL,
	[bluetooth] [nvarchar](255) NOT NULL,
	[connectorChargingPort] [nvarchar](255) NOT NULL,
	[headphoneJack] [nvarchar](255) NOT NULL,
	[otherConnections] [nvarchar](255) NOT NULL,
	[batteryCapacity] [nvarchar](255) NOT NULL,
	[advancedSecurity] [nvarchar](1000) NOT NULL,
	[design] [nvarchar](1000) NOT NULL,
	[materialSubstance] [nvarchar](1000) NOT NULL,
	[dimensionsWeight] [nvarchar](1000) NOT NULL,
	[insurance] [nvarchar](255) NOT NULL,
	[slug] [varchar](255) NULL,
	[isDeleted] [bit] NOT NULL DEFAULT ((0)),
	[productId] [int] NULL,
	[feedback_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[products_feedback]    Script Date: 12/14/2022 9:37:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products_feedback](
	[Products_id] [int] NOT NULL,
	[feedback_id] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[roles]    Script Date: 12/14/2022 9:37:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [tinyint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[users]    Script Date: 12/14/2022 9:37:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[users](
	[username] [varchar](20) NOT NULL,
	[fullname] [nvarchar](50) NULL,
	[password] [varchar](100) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[isDeleted] [bit] NOT NULL DEFAULT ((0)),
	[imgUrl] [varchar](255) NULL,
	[reset_password_token] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[authorities] ON 

INSERT [dbo].[authorities] ([id], [username], [roleId]) VALUES (29, N'ThanhCong', 2)
INSERT [dbo].[authorities] ([id], [username], [roleId]) VALUES (69, N'anhnhq', 1)
INSERT [dbo].[authorities] ([id], [username], [roleId]) VALUES (91, N'ThaoDT', 2)
SET IDENTITY_INSERT [dbo].[authorities] OFF
SET IDENTITY_INSERT [dbo].[categories] ON 

INSERT [dbo].[categories] ([id], [description], [isDeleted]) VALUES (1, N'Iphone', 0)
INSERT [dbo].[categories] ([id], [description], [isDeleted]) VALUES (2, N'Samsung', 0)
INSERT [dbo].[categories] ([id], [description], [isDeleted]) VALUES (3, N'Oppo', 0)
SET IDENTITY_INSERT [dbo].[categories] OFF
SET IDENTITY_INSERT [dbo].[Feedback] ON 

INSERT [dbo].[Feedback] ([id], [content], [productId], [username], [createdDate]) VALUES (4, N'Thiết kế nhỏ ,gọn ,đẹp mắt', 4, N'UyenDT', CAST(N'2022-12-06 00:15:01.730' AS DateTime))
INSERT [dbo].[Feedback] ([id], [content], [productId], [username], [createdDate]) VALUES (5, N'Thiết kế nhỏ ,gọn ,đẹp mắt', 8, N'UyenDT', CAST(N'2022-12-06 00:15:01.730' AS DateTime))
SET IDENTITY_INSERT [dbo].[Feedback] OFF
SET IDENTITY_INSERT [dbo].[order_details] ON 

INSERT [dbo].[order_details] ([id], [orderId], [productId], [price], [quantity]) VALUES (1, 6, 4, CAST(14990000.000 AS Decimal(12, 3)), 2)
INSERT [dbo].[order_details] ([id], [orderId], [productId], [price], [quantity]) VALUES (2, 7, 64, CAST(3490000.000 AS Decimal(12, 3)), 1)
INSERT [dbo].[order_details] ([id], [orderId], [productId], [price], [quantity]) VALUES (3, 7, 63, CAST(12490000.000 AS Decimal(12, 3)), 1)
SET IDENTITY_INSERT [dbo].[order_details] OFF
SET IDENTITY_INSERT [dbo].[orders] ON 

INSERT [dbo].[orders] ([id], [username], [address], [phone], [createdDate], [status], [payId]) VALUES (6, N'anhnhq', N'TP HCM', N'0357628935', CAST(N'2022-11-26 12:22:50.183' AS DateTime), N'2', NULL)
INSERT [dbo].[orders] ([id], [username], [address], [phone], [createdDate], [status], [payId]) VALUES (7, N'anhnhq', N'TP HCM', N'0357628935', CAST(N'2022-11-28 19:33:15.937' AS DateTime), N'3', NULL)
INSERT [dbo].[orders] ([id], [username], [address], [phone], [createdDate], [status], [payId]) VALUES (8, N'anhnhq', N'TP HCM', N'0357628935', CAST(N'2022-11-28 20:54:06.153' AS DateTime), N'2', NULL)
SET IDENTITY_INSERT [dbo].[orders] OFF
SET IDENTITY_INSERT [dbo].[products] ON 

SET IDENTITY_INSERT [dbo].[products] OFF
SET IDENTITY_INSERT [dbo].[roles] ON 

INSERT [dbo].[roles] ([id], [name]) VALUES (1, N'admin')
INSERT [dbo].[roles] ([id], [name]) VALUES (2, N'user')
SET IDENTITY_INSERT [dbo].[roles] OFF
INSERT [dbo].[users] ([username], [fullname], [password], [email], [isDeleted], [imgUrl], [reset_password_token]) VALUES (N'anhnhq', N'Nguyễn Hữu Quốc Anh', N'$2a$10$6EhrmEUo/8oheftpYfS1VO1bt4qpBHtboiY.e4HAXnlGJ43I6C7A6', N'quocanh@abc.com', 0, N'88d4e3d3.jpg', NULL)
INSERT [dbo].[users] ([username], [fullname], [password], [email], [isDeleted], [imgUrl], [reset_password_token]) VALUES (N'teolv', N'Nguyễn Văn Tèoo', N'$2a$10$LwPXhgJOOYLUd5VMtuU/LOCB.8J96CmhQBAGi3qcRCKTFs/N26WoC', N'teolv@gmail.com', 0, N'45c9f6a9.jpg', NULL)
INSERT [dbo].[users] ([username], [fullname], [password], [email], [isDeleted], [imgUrl], [reset_password_token]) VALUES (N'ThanhCong', N'Nguyễn Phan Thành Công', N'$2a$10$CtZF/VhWsZKfey4reGrVs.NdDS3md7ySUOLsNdUPO4Uyn8.in6n9S', N'thanhcong@gmail.com', 0, N'45c9f6a9.jpg', NULL)
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__products__32DD1E4C4EC909D2]    Script Date: 12/14/2022 9:37:59 PM ******/
ALTER TABLE [dbo].[products] ADD UNIQUE NONCLUSTERED 
(
	[slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UK_s368qnho3yl96rt14o4o70gj0]    Script Date: 12/14/2022 9:37:59 PM ******/
ALTER TABLE [dbo].[products_feedback] ADD  CONSTRAINT [UK_s368qnho3yl96rt14o4o70gj0] UNIQUE NONCLUSTERED 
(
	[feedback_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__roles__72E12F1B285E4772]    Script Date: 12/14/2022 9:37:59 PM ******/
ALTER TABLE [dbo].[roles] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[authorities]  WITH CHECK ADD FOREIGN KEY([roleId])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[authorities]  WITH CHECK ADD FOREIGN KEY([username])
REFERENCES [dbo].[users] ([username])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([productId])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([username])
REFERENCES [dbo].[users] ([username])
GO
ALTER TABLE [dbo].[order_details]  WITH CHECK ADD FOREIGN KEY([orderId])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[order_details]  WITH CHECK ADD FOREIGN KEY([productId])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([payId])
REFERENCES [dbo].[payment] ([id])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK5ul5qtyh6slfyq8i4jby7qecx] FOREIGN KEY([username])
REFERENCES [dbo].[users] ([username])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK5ul5qtyh6slfyq8i4jby7qecx]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD FOREIGN KEY([categoryId])
REFERENCES [dbo].[categories] ([id])
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FK1krrsjgcawsfg8k8u4hm5gi8q] FOREIGN KEY([categoryId])
REFERENCES [dbo].[categories] ([id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FK1krrsjgcawsfg8k8u4hm5gi8q]
GO
/****** Object:  StoredProcedure [dbo].[sp_getTotalPricePerMonth]    Script Date: 12/14/2022 9:37:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_getTotalPricePerMonth]
	(
	@month varchar(2),
	@year varchar(4)
	)
	AS BEGIN
	DECLARE @result varchar(20)
	SET  @result = (SELECT
    SUM(order_details.price * order_details.quantity) as 'totalPrice'
   from
     orders inner join order_details
	 on orders.id = order_details.orderId
where
    MONTH(orders.createdDate)=@month
	and YEAR(orders.createdDate)=@year)
	IF @result IS NULL BEGIN SET @result = '0' END
	SELECT @result
	END

GO
USE [master]
GO
