   <div class="row">
            <div class="col-lg-3">
                <div class="footer__about">
                    <div class="footer__about__logo">
                        <a href="./index.html"><img src="/user/img/One.png"></a>
                    </div>

                </div>
            </div>
            <div class="col-lg-3">
                <div class="footer__widget">
                    <h6>Về Chúng Tôi</h6>

                    <ul>

                        <li><a href="#">Giới thiệu công ty</a></li>
                        <li><a href="./shop-grid.html">Sản phẩm</a></li>
                        <li><a href="./ThongBao.html">Thông báo</a></li>

                    </ul>

                </div>

            </div>
            <div class="col-lg-6">
                <div class="footer__widget">
                    <ul>
                        <li><i class="fa fa-address-card"></i> Tòa nhà Innovation lô E4 - QTSC,Q12,TP HCM</li>
                        <li><i class="fa fa-phone"></i> 1900 9999</li>
                        <li><i class="fa fa-mail-bulk"></i> oneshop@gmail.com</li>
                    </ul>
                </div>
            </div>
        </div>
