<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">



<body>
	<main>

		<div class="container">
			<div class="d-flex justify-content-center h-100">
				<div class="card" style="height: 350px;
	margin-top: auto;
	margin-bottom: auto;
	width: 800px;
	">

					<div class="card-header">

						<h5 class="text-center">ĐỔI MẬT KHẨU</h5>
					</div>
					<div class="card-body">
						<form th:action="@{/reset_password}" method="post"
							>
							<input type="hidden" name="token" th:value="${token}" />
							<div class="border border-secondary rounded p-3">
								<div>
									<p>
									<label>Mật khẩu mới</label>
										<input type="password" name="password" id="password"
											class="form-control"
											required autofocus />
									</p>
									<p>
									<label>Nhập lại mật khẩu mới</label>
										<input type="password" class="form-control"
											 required
											oninput="checkPasswordMatch(this);" />
									</p>
									<p class="text-center">
										<input type="submit" value="Đổi mật khẩu"
											class="btn btn-primary" />
									</p>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		
	</main>
	<script type="text/javascript">
		function checkPasswordMatch(fieldConfirmPassword) {
			if (fieldConfirmPassword.value != $("#password").val()) {
				fieldConfirmPassword
						.setCustomValidity("Passwords do not match!");
			} else {
				fieldConfirmPassword.setCustomValidity("");
			}
		}
	</script>
</body>
</html>
